<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wisdom</title>
<!--     <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,500;1,700;1,900&display=swap" rel="stylesheet"> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Charis+SIL:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
</head>
<body class="inner__page">
    <header>
        <div class="container">
            <div class="header__innner">
                
                <div class="header__img">
                    <img class="header__logo" src="img/logotransparentnowoeds.png" alt="">
                </div>

                <ul class="header__ul">
                   <li class="header__li">
                        <a class="header__link" href="innner.html">Ваша информация</a>
                   </li> 
                   <li class="header__li">
                        <a class="header__link" href="transfer.html">Перевести деньги</a>
                   </li> 
                </ul>

                <div class="balance">
                    <h4>Баланс</h4>
                    <h4 class="balnce__number">999999 <span class="balance__span">$</span></h4>
                </div>

                <div class="burger">
                    <span></span>
                </div>
            </div>
        </div>
    </header>


    <div class="mobile__modal">
        <ul class="header__ul">
            <li class="header__li">
                 <a class="header__link" href="innner.html">Ваша информация</a>
            </li> 
            <li class="header__li">
                 <a class="header__link" href="transfer.html">Перевести деньги</a>
            </li> 
         </ul>

         <div class="balance">
             <h4 class="mobile__balance">Баланс</h4>
             <h4 class="balnce__number">999999 <span class="balance__span">$</span></h4>
         </div>
    </div>

    <section>
        <div class="container">
            <div class="sectioni__inner">
                <div class="main__title">
                    <h1 class="main__title_h"> Привествуем Вас, bahrom nosirov</h1>
                    <h2 class="main__title_h">Мы рады видеть вас здесь</h2>
                </div>

                <div class="classes">
                    <div class="classes__title">
                        <h1 class="classes__title_h1">Ваши классы</h1>
                    </div>

                    <div class="classes__inner">
                        <div class="Class">
                            <h2 class="class__name"> 1-a</h2>
                        </div>

                        <div class="Class">
                            <h2 class="class__name"> 2-a</h2>
                        </div>


                        <div class="Class">
                            <h2 class="class__name"> 3-a</h2>
                        </div>
         

               
                        <div class="Class">
                            <h2 class="class__name"> 4-a</h2>
                        </div>
                
                   
                        <div class="Class">
                            <h2 class="class__name"> 5-a</h2>
                        </div>
                    </div>
                        
                  
                </div>

                <div class="footer__balance">
                    <div class="classes__title">
                        <h1  class="classes__title_h1" >Ваш Баланс</h1>
                    </div>

                    <div class="current__balance">
                        <h1 class="balance__h1">999999 <span>$ </span></h1>
                    </div>
                </div>
            </div>
        </div>
    </section>





    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>