{% extends 'wisapp/base.html' %}

{% block stylecontent %}
    <style>

        h1 {
            border-bottom: 1px solid;
        }
        h4 {
            font-weight: 400;
        }
        a:hover {
            text-decoration: none;
        }

        .foot {
            position: absolute;
            bottom: 0px;
            left: 0px;
            right: 0px;
        }

        .my_button {
             width: 50%;
            background: #ffffff;
            margin: 0 auto;
            border: none;
            border-radius: 50px;
            color: #000000;
            padding: 15px;
            box-shadow: 0px 3px 15px 0.2px rgb(0 0 0 / 40%);
            display: block;
        }

        .my_button:hover {
            cursor: pointer;
            background: rgb(167 167 167 / 40%);
            color: #000000;
        }

        .row{
            width: 40%;
            margin: 0 auto;
        }

        html{
        height: 100%;
        }

        body{
            display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
        }

        @media(max-width:734px){
            .row{
            width:100%;
            }
        }
    </style>
{% endblock %}


{% block bodycontent %}



    <div class="container">
        <div class="row">

            <a class="btn btn-primary btn-block my_button  col-12" href="{% url 'director_login' %}"> <i class="fa fa-sign-in"></i> Direktor</a>

        <a class="btn btn-primary btn-block my_button col-12" href="{% url 'login' %}"> <i class="fa fa-sign-in"></i> O'qituvchi</a>

        <a class="btn btn-primary btn-block my_button col-12" href="{% url 'pupil_sign_in' %}">  <i class="fa fa-sign-in"></i> O'quvchi</a>

        <a class="btn btn-primary btn-block my_button col-12" href="{% url 'parent_sign_in' %}"> <i class="fa fa-sign-in"></i> Ota-ona</a>

        </div>
    </div>


{% endblock %}
