    {% extends 'wisapp/profile_base.html' %}
    {% block url %}
    <a class="nav-item nav-link" href="{% url 'pupil_stat' %}">Home <span class="sr-only">(current)</span></a>
    {% endblock %}
    {% block headcontent %}
            <style>
                @import url('https://fonts.googleapis.com/css?family=Cinzel|PT+Serif');

                body {
                    background-color: floralwhite;
                }
                h2 {
                    font-family: "PT Serif";
                }

                #side_panel
                {
                    font-size: 16px;
                    font-family: "Titillium Web";
                    background-color: rgb(170, 95, 57);
                    margin-top: -7px;
                    margin-left: -10px;
                    height: 540px;
                    overflow-x: auto;
                    overflow-y: auto;
                }

                .side {
                    color: aliceblue;
                }
                .side:hover {
                    color: mediumaquamarine;
                }
                .warning {
                    color: yellow;
                }
                .danger {
                    color: #FF8723;
                    font-weight: 900;
                }
                .current {
                    border: 1px solid;
                    padding: 3px;
                }
                .curr_bal {
                    font-family: "Cinzel";
                    font-weight: 600;
                }

                #side_panel::-webkit-scrollbar {
                    width: 7px;
                }
                #side_panel::-webkit-scrollbar:hover {
                    width: 12px;
                }
                #side_panel::-webkit-scrollbar-track {
                    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
                    border-radius: 10px;
                }
                ::-webkit-scrollbar-thumb {
                    border-radius: 10px;
                    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
                }

                body {font-family: Arial;}

                /* Style the tab */
                .tab {
                  overflow: hidden;
                  border: 1px solid #ccc;
                  background-color: #f1f1f1;
                }

                /* Style the buttons inside the tab */
                .tab button {
                  background-color: inherit;
                  float: left;
                  border: none;
                  outline: none;
                  cursor: pointer;
                  padding: 14px 16px;
                  transition: 0.3s;
                  font-size: 17px;
                }

                /* Change background color of buttons on hover */
                .tab button:hover {
                  background-color: #ddd;
                }

                /* Create an active/current tablink class */
                .tab button.active {
                  background-color: #ccc;
                }

                /* Style the tab content */
                .tabcontent {
                  display: none;
                  padding: 6px 12px;
                  border: 1px solid #ccc;
                  border-top: none;
                }
            </style>
            <script>
                window.addEventListener('DOMContentLoaded', function() {
                    var select = document.querySelector('#main'),
                    hide = document.querySelectorAll('.hide');
                    function change()
                    {
                        [].forEach.call(hide, function(el) {
                            var add = el.classList.contains(select.value) ? "add" : "remove"
                            el.classList[add]('show');
                        });
                    }
                    select.addEventListener('change', change);
                      change()
                });
            </script>
    {% endblock %}
    {% block bodycontent %}
        <main>
            <section id="welcome_post" class="col-9">
                <div align="center">
                <h2>Welcome, <span id="prof_name">{{ curr_user.name }}{{ curr_user.lastName }}</span> </h2>

                <h4 style="font-weight: 300;">It's good to have you here.</h4>


                <div class="text-center curr_bal">
                    <h4>ACCOUNT info</h4>
                    <h1 id="" class="btn-success">{{ curr_user.grade_p }}</h1>
                </div>
                <br>
                <div class="text-center curr_bal">
                    <h4>CURRENT BALANCE IN YOUR ACCOUNT</h4>
                    <h1 id="curr_bal" class="btn-danger">{{ curr_user.acc }}</h1>
                </div>
                <br>
             </div>
            </section>
        </main>
    {% endblock %}