{% extends 'wisapp/profile_base.html' %}
{% block url %}
    <a class="nav-item nav-link" href="{% url 'parent_stat' %}">BOSH SAHIFA<span class="sr-only">(current)</span></a>
{% endblock %}
{% block headcontent %}
<style>
    @import url('https://fonts.googleapis.com/css?family=Cinzel|PT+Serif');

    body {
        background-color: floralwhite;
    }
    h2 {
        font-family: "PT Serif";
    }

    #side_panel
    {
        font-size: 16px;
        font-family: "Titillium Web";
        background-color: rgb(170, 95, 57);
        margin-top: -7px;
        margin-left: -10px;
        height: 540px;
        overflow-x: auto;
        overflow-y: auto;
    }

    .side {
        color: aliceblue;
    }
    .side:hover {
        color: mediumaquamarine;
    }
    .warning {
        color: yellow;
    }
    .danger {
        color: #FF8723;
        font-weight: 900;
    }
    .current {
        border: 1px solid;
        padding: 3px;
    }
    .curr_bal {
        font-family: "Cinzel";
        font-weight: 600;
    }

    #side_panel::-webkit-scrollbar {
        width: 7px;
    }
    #side_panel::-webkit-scrollbar:hover {
        width: 12px;
    }
    #side_panel::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
        border-radius: 10px;
    }
    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    }

    body {font-family: Arial;}

    /* Style the tab */
    .tab {
      overflow: hidden;
      border: 1px solid #ccc;
      background-color: #f1f1f1;
    }

    /* Style the buttons inside the tab */
    .tab button {
      background-color: inherit;
      float: left;
      border: none;
      outline: none;
      cursor: pointer;
      padding: 14px 16px;
      transition: 0.3s;
      font-size: 17px;
    }

    /* Change background color of buttons on hover */
    .tab button:hover {
      background-color: #ddd;
    }

    /* Create an active/current tablink class */
    .tab button.active {
      background-color: #ccc;
    }

    /* Style the tab content */
    .tabcontent {
      display: none;
      padding: 6px 12px;
      border: 1px solid #ccc;
      border-top: none;
    }

    .list_button {
        background-color:#FFDF01;
        border:1px solid #000000;
    }
</style>
<script>
    window.addEventListener('DOMContentLoaded', function() {
        var select = document.querySelector('#main'),
        hide = document.querySelectorAll('.hide');
        function change()
        {
            [].forEach.call(hide, function(el) {
                var add = el.classList.contains(select.value) ? "add" : "remove"
                el.classList[add]('show');
            });
        }
        select.addEventListener('change', change);
          change()
    });
</script>
{% endblock %}
{% block bodycontent %}
<main class="wrapper">
    <section class="col-12">
        <h2>Hush kelibsiz, {{ content.name }}  {{ content.lastName }}</h2>
        <h4 style="font-weight: 300; ">Wispoint berish uchun bolani tanlang</h4>
        {% if error %}
        <h1 class="error_text">
            {{ error }}
        </h1>
        {% endif %}
        {% if success %}
        <h1 class="error_text success_text">
            {{ success }}
        </h1>
        {% endif %}
        <form class="tabcontent tabcontent-active"  method="post" action=""  >
            {% csrf_token %}
            <table class="styled-table">
                <tr>
                    <td></td>
                    <td>F.I.O</td>
                    <td>SINF</td>
                    <td>LIMIT/BALANS</td>
                    <td>O'tkazmalar tarixi</td>
                </tr>
                {% for d in content.child.all %}
                <tr>
                    <td hidden><select name="parent_name" >
                        <option value="{{ content.id }}">{{ content.name }}</option>
                    </select>
                    </td>
                    <td>
                        <input type="checkbox" value="{{ d.id }}" name="pupil">
                    </td>
                    <td>{{ d.name }}  {{ d.lastName }}</td>
                    <td>{{ d.grade_p }}</td>
                    {% for i in curr_point %}
                    {% if i.pupil.id == d.id %}
                    <td>{{ i.point }}/{{ d.acc }}</td>
                    {% endif %}
                    {% endfor %}
                    <td><button type="button" class="child__name list_button" data-toggle="modal" data-target="#exampleModal-{{ d.id }}"><i class="fa-solid fa-list-ul"></i></td>
                </tr>
                {% endfor %}
            </table>
            <input type="text" name="fine_descr" placeholder="Jarima uchun izoh" >
            <input type="number" name="point" min="1" max="9999" class="form-control" placeholder="Wispoint miqdorini kiriting" required>
            <button class="transfer-button" type="submit" name="trans" value="transfer">O'tkazish</button>
            <button class="fine-button" type="submit" name="trans" value="fine">Jarima</button>
        </form>
    </section>
</main>


{% for i in curr_user.child.all %}
<div class="modal fade" id="exampleModal-{{ i.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog _modal-dialog" role="document">
        <div class="modal-content _modal-content">
            <div class="modal-header _modal-header">
                <h5 class="modal-title _modal-title" >Otkazmalar tarixi</h5>
                <button type="button" class="close _close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="modal__about-us__img">
                    <img class="modal__about-us__img__img" src="img/citygrass.png" alt="">
                    <div class="modal__about-us__right_items">
                        <div class="modal__about-us__info-text">

                        </div>
                        <div class="modal__about-us__info-subtext">
                            <div class="row">
                                <div class="col-6">
                                    <h1 align="center">
                                        O'tkazmalar:
                                    </h1>
                                    {% for t in trans %}
                                    {% for g in t.pupil.all %}
                                    {% if i.id == g.id %}
                                    <hr color="black">
                                    <div>
                                        <h3>
                                            {% if t.teacher_name %}-->
                                            Ustoz: {{ t.teacher_name }}
                                            {% elif t.dorz_name %}
                                            Direktor: {{ t.dorz_name }}
                                            {% else %}
                                            Ota-ona: {{ t.parent_name }}
                                            {% endif %}
                                        </h3>
                                        <h3>
                                            point: {{ t.point }}
                                            <br>
                                            vaqti: {{ t.data|date:'Y-m-d' }}
                                        </h3>
                                    </div>
                                    <hr color="black">
                                    {% endif %}
                                    {% endfor %}
                                    {% endfor %}
                                </div>
                                <div class="col-6">
                                    <h1 align="center">
                                        Jarimalar:
                                    </h1>
                                     {% for f in fine %}
                                    {% for h in f.pupil.all %}
                                    {% if i.id == h.id %}
                                    <hr color="black">
                                    <div>
                                        <h3>
                                            {% if f.teacher_name %}-->
                                            Ustoz: {{ f.teacher_name }}
                                            {% elif f.dorz_name %}
                                            Direktor: {{ f.dorz_name }}
                                            {% else %}
                                            Ota-ona: {{ f.parent_name }}
                                            {% endif %}
                                        </h3>
                                        <h3>
                                            point: -{{ f.point }}
                                            <br>
                                            vaqti: {{ f.data|date:'Y-m-d' }}
                                        </h3>
                                        <h6>
                                            izoh: {{ f.fine_descr }}
                                        </h6>
                                    </div>
                                    <hr color="black">
                                    {% endif %}
                                    {% endfor %}
                                    {% endfor %}

                                </div>
                            </div>
    <!--                            <div class="child-result">-->
<!--                                <div class="green-results">-->
<!--                                    <div class="accordion" >-->
<!--                                        {% for t in trans %}-->
<!--                                        {% for g in t.pupil.all %}-->
<!--                                        {% if i.id == g.id %}-->
<!--                                        <div class="card child__green-stats">-->
<!--                                            <div class="card-header">-->
<!--                                                <h2 class="m-0">-->
<!--                                                    <button class="btn btn-link btn-block text-left">-->
<!--                                                        <div class="green-stat">-->
<!--                                                            <strong class="green-stat__name">-->
<!--                                                                {% if t.teacher_name %}-->
<!--                                                                Ustoz: {{ t.teacher_name }}-->
<!--                                                                {% elif t.dorz_name %}-->
<!--                                                                Direktor: {{ t.dorz_name }}-->
<!--                                                                {% else %}-->
<!--                                                                Ota-ona: {{ t.parent_name }}-->
<!--                                                                {% endif %}-->
<!--                                                            </strong>-->
<!--                                                            <div class="green-stat__date">{{ t.data|date:'Y-m-d' }}-->
<!--                                                            </div>-->
<!--                                                            <strong class="green-stat__point">-->
<!--                                                                +{{ t.point }}-->
<!--                                                            </strong>-->
<!--                                                        </div>-->
<!--                                                    </button>-->
<!--                                                </h2>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        {% endif %}-->
<!--                                        {% endfor %}-->
<!--                                        {% endfor %}-->
<!--                                    </div>-->
<!--                                </div>-->

<!--                                <div class="red-results">-->
<!--                                    <div class="accordion">-->
<!--                                        {% for f in fine %}-->
<!--                                        {% for h in f.pupil.all %}-->
<!--                                        {% if i.id == h.id %}-->
<!--                                        <div class="card child__red-stats">-->
<!--                                            <div class="card-header" id="heading{{ f.id }}">-->
<!--                                                <h2 class="m-0">-->
<!--                                                    <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse{{ f.id }}" aria-expanded="true" aria-controls="collapse{{ f.id }}">-->
<!--                                                        <div class="red-stat">-->
<!--                                                            <strong class="red-stat__name">-->
<!--                                                                {% if f.teacher_name %}-->
<!--                                                                Ustoz: {{ f.teacher_name }}-->
<!--                                                                {% elif f.dorz_name %}-->
<!--                                                                Direktor: {{ f.dorz_name }}-->
<!--                                                                {% else %}-->
<!--                                                                Ota-ona: {{ f.parent_name }}-->
<!--                                                                {% endif %}-->
<!--                                                            </strong>-->
<!--                                                            <div class="red-stat__date">-->
<!--                                                                {{ f.data|date:'Y-m-d' }}-->
<!--                                                            </div>-->
<!--                                                            <strong class="red-stat__point">-->
<!--                                                                -{{ f.point }}-->
<!--                                                            </strong>-->
<!--                                                            <strong class="red-stat__plus">-->
<!--                                                                <i class="fa-solid fa-circle-chevron-down"></i>-->
<!--                                                            </strong>-->
<!--                                                        </div>-->
<!--                                                    </button>-->
<!--                                                </h2>-->
<!--                                            </div>-->
<!--                                            <div id="collapse{{ f.id }}" class="collapse" aria-labelledby="heading{{ f.id }}" data-parent="#accordionExample">-->
<!--                                                <div class="card-body">-->
<!--                                                    <code>{{ f.fine_descr }}</code>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        {% endif %}-->
<!--                                        {% endfor %}-->
<!--                                        {% endfor %}-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
                        </div>
                        <div class="modal-footer">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}



{% endblock %}
{% block scriptcontent %}
<script>
    $(".current").removeClass("current");
    $("#transfer").addClass("current");
    $("input").addClass("form-control");
    $("label").prepend("<br>")


    function openCity(evt, cityName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
}
    const nodeList= document.querySelectorAll(".haha");
    nodeList[0].setAttribute("required", "required");
</script>
{% endblock %}
